* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    width: 100%;
}


h1 {
    text-align: left;
}

a {
    color: white;
  }

p {
    color: #888;
    margin-bottom: none;
}


#footColor {
    color: #fff;
}

#logoTxt {
    font-weight: bolder;
    padding-top: 1000px;
    font-size: 42px;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#wrapper {
    width: 100%;    
    height: auto;
}

#section1 {
    position: fixed;
    padding-top: 15px;
    width: 100%;
    height: 50px;
    background-color: black;
    float:left;
    display: block;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
}

#section2 {
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 60%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin-bottom: 90px;
}


#section3 {
    position: relative;
    top: 20px;
    background-color: whitesmoke;
    width: 100%;
    height:100%;
}

#gallery {
    position: relative;
    top: 20px;
    background-color: whitesmoke;
    width: 100%;
    height:100%;
    margin-bottom: 100px;
}

#galHeight {
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 60%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

#section4 {
    position: fixed;
    top: 0px;
    left: 20px;
    margin-top: 30px;
    width: 80px;
    height: 50px;
    background-color: darkred;
    color: #888;
    text-align: center;
    font-size: 32px;
    z-index: 2;
    padding-bottom: 10px;
}

#section5 {
    position: absolute;
    top: 15px;
    right: -150px;
    width: 120px;
    z-index: 0;
    background-color: darkred;
    color: white;
    padding: 0px 10px 0px 10px;
}

  #footer {
      position: fixed;
      bottom: 0px;
      left: 0px;
      width: 100%;
      background-color: black;
      color: white;
      height: 50px;
      width: 100%;
      padding: 0px 0px 20px 0px;
      text-align: center;
      vertical-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #left {
    float: left;
    padding-top:10px;
    padding-bottom: 10px;
    width: 33.3%;
    background-color: #666;
    z-index: 3;
  }
  
  #middle {
    float: left;
    padding-top:10px;
    padding-bottom: 10px;
    width: 33.3%;
    background-color: #888;
    z-index: 3;
  
  }
  
  #right {
    float: left;
    padding-top:10px;
    padding-bottom: 10px;
    width: 33.3%;
    background-color: #666;
    z-index: 3;

  }

  #imgHeader {
      padding-left: 20px;
      padding-top: 15px;
  }

  #imgTxt {
      padding-left: 20px;
  }

  #contactTxt {
      color: white;
      size: 12px;
  }

.top {
    text-align: top;
    float: left;
    position: relative;
    top: 30px;
    right: 0;
    color: white;
    
}

.imgRow {
    width: 940px;
    display: inline-block;
}

.imgSlot {
    width: 40px;
    z-index: 4;
}

.full {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display:block;   
    margin-bottom: 30px;
    background-color: aqua; 
}

.table {
    width: 100%;
    display: inline-block
}

.tile {
    width: 210px;
    height: 210px;
    padding: 10px 10px 10px 10px;
}

.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 10px;
}
.form {
    flex: 100%;
    padding: 30px;

}


@media screen and (max-width: 920px) {
    body {
      background-color: #666;
    }
  
    #wrapper {
        width: 90%;
        height: auto;
        padding: 20px 5px 20px 5px;
    }

    #section5 {
        position: fixed 0 0;
        float: left;
    }

    h1 {
        color: #000;
    }

    #section1 {
        position: fixed;
        padding-top: 15px;
        width: 100%;
        height: 50px;
        background-color: #fff;
        float:left;
        display: block;
        top: 0;
        left: 0;
        color: #000;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        z-index: 1;
    }

    #section4 {
        color: #fff;
    }

    #footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: #fff;
        color: #000;
        height: 50px;
        width: 100%;
        padding: 0px 0px 20px 0px;
        text-align: center;
        vertical-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    p {
        color: #000;
    }
    
    a {
        color: #fff;
    }

    #footColor {
        color: #000;
    }
}
  


@media screen and (max-width: 470px) {
    body {
      background-color: #888;
    }
  
    #wrapper {
        width: 80%;
        height: auto;
        padding: 20px 5px 20px 5px;
    }
    
    h1 {
        color: #000;
    }

    #section1 {
        position: fixed;
        padding-top: 15px;
        width: 100%;
        height: 50px;
        background-color: #000;
        float:left;
        display: block;
        top: 0;
        left: 0;
        color: #fff;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        z-index: 1;
    }

    #footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: #000;
        color: #fff;
        height: 50px;
        width: 100%;
        padding: 0px 0px 20px 0px;
        text-align: center;
        vertical-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #footColor {
        color: #fff;
    }

    #section4 {
        position: fixed;
        top: 10px;
        left: 0px;
        margin-top: 30px;
        width: 80px;
        height: 50px;
        background-color: darkred;
        color: #888;
        text-align: center;
        font-size: 32px;
        z-index: 2;
        padding-bottom: 10px;
    
    
}